[user]
	name = Dimitris Zervas
	email = d.zervas@encodegroup.com
[color]
	ui = auto
[alias]
	aa = !git add -A && git status
	ac = !git aa && git commit
	acp = !git ac && git push
	c = !git clone
	cd = !git clone $2 && cd $(basename "$2")
	co = !git checkout
	;pullall = !for dir in * && do if [ -d "$dir/.git" ] && then cd $dir && echo "$dir:" && git pull && cd .. && fi && done
[push]
	default = simple
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[web]
	browser = chromium
