[alias]
	aa = !git add -A && git status
	ac = !git aa && git commit
	acp = !git ac && git push
	c = clone
	cd = !git clone $2 && cd $(basename "$2")
	co = checkout
	#graph = 'log —graph —pretty="\'"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"\'" —abbrev-commit —all'
	g = graph
	s = status
[color]
	ui = auto
[commit]
	gpgsign = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
[push]
	default = simple
[user]
	name = Dimitris Zervas
	email = dzervas@dzervas.gr
	signingkey = 528636D3
[web]
	browser = chromium
