[user]
	name = Dimitris Zervas
	email = dzervas@dzervas.gr
	signingkey = 528636D3
[color]
	ui = auto
[alias]
	aa = !git add -u && git add . && git status
	ac = !git aa && git commit
	acp = !git ac && git push
	co = !git checkout
	;pullall = !for dir in * && do if [ -d "$dir/.git" ] && then cd $dir && echo "$dir:" && git pull && cd .. && fi && done
[push]
	default = simple
[core]
	autocrlf = input
[commit]
	gpgsign = true
