[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/bundle/vim-alt-mappings"]
	path = .vim/bundle/vim-alt-mappings
	url = https://github.com/vim-utils/vim-alt-mappings
	ignore = dirty
[submodule ".vim/bundle/vim-autocomplpop"]
	path = .vim/bundle/vim-autocomplpop
	url = https://github.com/othree/vim-autocomplpop
	ignore = dirty
[submodule ".vim/bundle/vim-l9"]
	path = .vim/bundle/vim-l9
	url = https://github.com/eparreno/vim-l9
	ignore = dirty
[submodule ".vim/bundle/vim-bbye"]
	path = .vim/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/xonsh-vim"]
	path = .vim/bundle/xonsh-vim
	url = https://github.com/linkinpark342/xonsh-vim
