*
!.github
!.github/**
!.zed
!.zed/*
!.mcp.json
!.pi
!.pi/permissions.json
!flake.lock
!README.md
!AGENTS.md

!**/*.nix
!desktop
!desktop/home
!desktop/home/components
!desktop/home/components/*.css
!hardware
!hardware/components
!home
!home/{easyeffects,fish-functions,neovim,updater,zed}
!home/{direnvrc,katerc}
!home/*.{sh,json,mp3}
!home/zed/*.json
!home/fish-functions/*.fish
!nixos
!nixos/{*.fish,vimrc}
!overlays
!pi
!pi/**/*.{md,ts,ts.b}
!pi/**/{tsconfig,package,package-lock}.json
!pi/{extensions,skills}
!pi/extensions/{lib,permissions,pi-subagents-workflows,todo}
!pi/skills/*
!pi/skills/*/reference
!pi/skills/*/reference/*.{py,js,ts,lua,json,template}


!docker
!docker/Dockerfile.*
