*
!.github
!.github/**
!.zed
!.zed/*
!.mcp.json
!.pi
!.pi/permissions.json
!flake.lock
!README.md
!AGENTS.md

!**/*.nix
!desktop
!desktop/home
!desktop/home/components
!desktop/home/components/*.css
!hardware
!hardware/components
!home
!home/easyeffects
!home/fish-functions
!home/neovim
!home/updater
!home/zed
!home/direnvrc
!home/katerc
!home/*.sh
!home/*.json
!home/*.mp3
!home/zed/*.json
!home/fish-functions/*.fish
!nixos
!nixos/*.fish
!nixos/vimrc
!overlays
!pi
!pi/extensions
!pi/skills
!pi/extensions/lib
!pi/extensions/permissions
!pi/extensions/pi-subagents-workflows
!pi/extensions/todo
!pi/**/*.md
!pi/**/*.ts
!pi/**/*.ts.b
!pi/**/tsconfig.json
!pi/**/package.json
!pi/**/package-lock.json
!pi/skills/*
!pi/skills/*/reference
!pi/skills/*/reference/*.py
!pi/skills/*/reference/*.js
!pi/skills/*/reference/*.ts
!pi/skills/*/reference/*.lua
!pi/skills/*/reference/*.json
!pi/skills/*/reference/*.template


!docker
!docker/Dockerfile.*
