[user]
	name = Dimitris Zervas
	email = dzervas@dzervas.gr
[color]
	ui = auto
[alias]
	aa = !git add -u && git add . && git status
	ac = !git aa && git commit
	acp = !git ac && git push
	;pullall = !for dir in * && do if [ -d "$dir/.git" ] && then cd $dir && echo "$dir:" && git pull && cd .. && fi && done
[push]
	default = matching
