*UXTerm*faceName:	Consola-PoweLine
*UXTerm*faceSize:	9
*UXTerm*locale:		true
*UXTerm*antialias:	true
*UXTerm*VT100.Translations:	#override \n\
	Shift Ctrl <KeyPress> V:	insert-selection(CLIPBOARD) \n\
	<Btn2Up>:		insert-selection(SELECT, CUT_BUFFER0) \n\
	~Shift<BtnUp>:		select-end(PRIMARY, CUT_BUFFER0) \n\
	Shift<BtnUp>:		select-end(CLIPBOARD, CUT_BUFFER1)
*UXterm*saveLines: 2000

! Molokai theme
*UXTerm*background: #101010
*UXTerm*foreground: #d0d0d0
*UXTerm*cursorColor: #d0d0d0
!black
*UXTerm*color0: #1B1D1E
!red v
*UXTerm*color1: #F92672
!green v
*UXTerm*color2: #A6E22E
!yellow v
*UXTerm*color3: #E6DB74
!blue
*UXTerm*color4: #30309b
!magenta v
*UXTerm*color5: #AE81FF
!cyan v
*UXTerm*color6: #66D9EF
!white
*UXTerm*color7: #F8F8F2
*UXTerm*color8: #303030
*UXTerm*color9: #ff0090
*UXTerm*color10: #80ff00
*UXTerm*color11: #ffba68
*UXTerm*color12: #5f5fee
*UXTerm*color13: #bb88dd
*UXTerm*color14: #4eb4fa
*UXTerm*color15: #d0d0d0
!orange FD971F
*UXTerm*fullscreen: never
*UXTerm.omitTranslation: fullscreen
