#!/bin/bash
xrandr --output DVI-I-2 --rotate left --mode 1920x1080 --pos 0x0 --output DVI-I-1 --mode 1920x1080 --pos 1080x0
xmodmap -e 'clear Lock' -e 'keycode 0x42 = Escape'

# Hack to fix misbehaving Java applications
wmname LG3D

# Autostart
mpd
chromium &
thunderbird &
#icedove &
termite &
blueberry-tray &
pasystray &
wicd-gtk -t &
xautolock -time 10 -locker "physlock -sd" &
feh --bg-scale .wallpaper.jpg &
