#!/bin/bash
xrandr --output DVI-I-2 --rotate left --mode 1920x1080 --pos 0x0 --output DVI-I-1 --mode 1920x1080 --pos 1080x0

# Hack to fix misbehaving Java applications
wmname LG3D

# Autostart
dwm &
chromium &
icedove &
termite &
dwmstatus || xsetroot --name "Who killed Bob?" &
pasystray &
xautolock -locker "dm-tool lock" &
