set surround
set multiple-cursors

set noerrorbells
set hlsearch        " Highlight search maches
set smartcase       " Do not ignore case when pattern is uppercase
set incsearch       " Show search matches as you type
set number          " Show current line number in current line
set relativenumber  " Show relative line numbers

" IdeaVim only
"set idearefactormode 'keep' " Keep current mode when refactoring
set ideastatusicon gray " Do not show vim icon in IDEA statusbar
set lookupkeys "<Tab>", "<Down>", "<Up>", "<Enter>", "<Left>", "<Right>", "<PageUp>", "<PageDown>"

let mapleader=" "

nnoremap gr :action RenameElement<CR>
nnoremap gR :action Refactorings.QuickListPopupAction<CR>

inoremap <c-l> :nohlsearch<CR>
inoremap <c-up> :action MoveLineUp<CR>
inoremap <c-down> :action MoveLineDown<CR>
inoremap <a-c> :close<CR>
inoremap <a-left> :action Forward<CR>
inoremap <a-right> :action Back<CR>
inoremap <a-return> :vsp<CR>
inoremap <a-s-return> :sp<CR>
inoremap <a-tab> <C-W><C-W>
inoremap <a-up> <C-W>l
inoremap <a-down> <C-W>h
inoremap <a-f> <C-W>o

nnoremap <c-l> :nohlsearch<CR>
nnoremap <c-up> :action MoveLineUp<CR>
nnoremap <c-down> :action MoveLineDown<CR>
nnoremap <a-c> :close<CR>
nnoremap <a-left> :bp<CR>
nnoremap <a-right> :bn<CR>
nnoremap <a-return> :vsp<CR>
nnoremap <a-s-return> :sp<CR>
nnoremap <a-tab> <C-W><C-W>
nnoremap <a-up> <C-W>l
nnoremap <a-down> <C-W>h
nnoremap <a-f> <C-W>o
nnoremap <leader>r :action Run<CR>
nnoremap <leader>b :action BuildArtifact<CR>
nnoremap <leader>b :action BuildArtifact<CR>
nnoremap <leader><esc> :action HideSideWindows<CR>

vnoremap <c-l> :nohlsearch<CR>
vnoremap <c-up> :action MoveLineUp<CR>
vnoremap <c-down> :action MoveLineDown<CR>
vnoremap <a-c> :close<CR>
vnoremap <a-left> :bp<CR>
vnoremap <a-right> :bn<CR>
vnoremap <a-return> :vsp<CR>
vnoremap <a-s-return> :sp<CR>
vnoremap <a-tab> <C-W><C-W>
vnoremap <a-up> <C-W>l
vnoremap <a-down> <C-W>h
vnoremap <a-f> <C-W>o
