tooltip {
    background: @base00;
    border-color: @base0D;
}

/* Transparent background so that islands stand out */
window#waybar {
    background: transparent;
    color: @base05;
}

/* Just pad everything */
#window,
#wireplumber,
#wireplumber.muted,
#pulseaudio,
#pulseaudio.muted,
#sndio,
#sndio.muted,
#upower,
#upower.charging,
#battery,
#battery.Charging,
#network,
#network.disconnected,
#user,
#clock,
#backlight,
#cpu,
#disk,
#idle_inhibitor,
#temperature,
#mpd,
#language,
#keyboard-state,
#memory {
    padding: 0 5px;
}

/* Button hover */
.modules-left #workspaces button,
.modules-center #workspaces button,
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active,
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active,
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}

/* Module islands */
.modules-left, .modules-center, .modules-right {
    background: @base00;
    padding: 0 5px;
    border-left: 15px solid @base00;
    border-right: 15px solid @base00;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modules-left {
    border-bottom-left-radius: 0;
}

.modules-right {
    border-bottom-right-radius: 0;
}
