tooltip {
    background: @base00;
    border-color: @base0D;
}

/* Transparent background so that islands stand out */
window#waybar {
    background: @base00;
    color: @base05;
}

/* Just pad everything */
#window,
#backlight,
#battery,
#battery.Charging,
#clock,
#cpu,
#custom-power,
#custom-launcher,
#custom-notifications,
#custom-niri-column-1,
#custom-niri-column-2,
#custom-niri-column-3,
#custom-niri-column-4,
#custom-niri-column-5,
#custom-niri-column-6,
#custom-niri-column-7,
#custom-niri-column-8,
#custom-niri-column-9,
#custom-niri-column-10,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mpd,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#sndio,
#sndio.muted,
#temperature,
#upower,
#upower.charging,
#user,
#wireplumber,
#wireplumber.muted {
    padding: 0 5px;
}

#custom-niri-column-1.active,
#custom-niri-column-2.active,
#custom-niri-column-3.active,
#custom-niri-column-4.active,
#custom-niri-column-5.active,
#custom-niri-column-6.active,
#custom-niri-column-7.active,
#custom-niri-column-8.active,
#custom-niri-column-9.active,
#custom-niri-column-10.active {
    border-bottom: 3px solid @base05;
}

/* Button hover */
.modules-left #workspaces button,
.modules-center #workspaces button,
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active,
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active,
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}

/* Module islands */
.modules-left, .modules-center, .modules-right {
    background: @base00;
    padding: 0 5px;
}
