tooltip {
    background: @base00;
    border-color: @base0D;
}

/* Transparent background so that islands stand out */
window#waybar {
    background: @base00;
    color: @base05;
}

/* Just pad everything */
#window,
#backlight,
#battery,
#battery.Charging,
#clock,
#cpu,
#custom-power,
#custom-launcher,
#custom-notifications,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mpd,
#network,
#network.disconnected,
#pulseaudio,
#pulseaudio.muted,
#sndio,
#sndio.muted,
#temperature,
#upower,
#upower.charging,
#user,
#wireplumber,
#wireplumber.muted {
    padding: 0 5px;
}

/* Button hover */
.modules-left #workspaces button,
.modules-center #workspaces button,
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}

.modules-left #workspaces button.focused,
.modules-left #workspaces button.active,
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active,
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid @base05;
}

/* Module islands */
.modules-left, .modules-center, .modules-right {
    background: @base00;
    padding: 0 5px;
}
