# Position: /etc/systemd/system/suspend@.service
# Then: systemctl enable suspend@sleep.service
[Unit]
Description=Lock on suspend
Before=suspend.target

[Service]
Type=forking
User=dzervas
ExecStart=/usr/local/bin/swaylock-civilized
ExecStartPost=/usr/local/sleep 1

[Install]
WantedBy=sleep.target
